<div class="d-flex">
  <h2>Products</h2>
  <button (click)="plus10Price()" class="btn btn-light btn-sm" style="margin-left: 5px;">+10</button>
</div>

<nav>
  <ul class="pagination pagination-sm justify-content-end">
    @for (item of pages; track $index) {
      @if(item == current_page) {
        <li class="page-item active"><a [routerLink]="['/products']" [queryParams]="{page: item}" class="page-link">{{item}}</a></li>
      }@else {
        <li class="page-item"><a [routerLink]="['/products']" [queryParams]="{page: item}" class="page-link">{{item}}</a></li>
      }
    }
  </ul>
</nav>

@if (isLoading === true) {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
}
<div class="row">
@for (item of productArr; track $index) {
  <app-product-item [item]="item" class="col-sm-4"></app-product-item>
}

</div>