<div class="input-group mb-3">
  <input type="text" 
         class="form-control" 
         placeholder="Ürün Ara..." 
         aria-label="Ürün Ara" 
         [(ngModel)]="searchQuery" 
         (keyup)="onSearch()">
  
</div>




@if (isLoading === true) {
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
} @else { 
  @if (totalResults > 0) {
    <h5 class="my-4">Arama sonuçlarında <strong class="text-primary">{{ totalResults }}</strong> ürün bulundu.</h5>
  } @else if (searchQuery) {
    <div class="alert alert-info my-4" role="alert">
      "{{ searchQuery }}" araması için sonuç bulunamadı.
    </div>
  }
}


<div class="row mt-4">

  @for (item of productArr; track $index) {
    <app-product-item [item]="item" class="col-sm-4"></app-product-item>
  }

</div>
