<app-bar></app-bar>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 class="text-center">User Register</h2>
        @if (success !== '') {
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
        }
        @if (error !== '') {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error</strong> {{error}}
            <button (click)="error = ''" type="button" class="btn-close" aria-label="Close"></button>
            </div>
        }
        <form (submit)="userRegister()">
            <div class="mb-3">
                <label for="userName" class="form-label">Name / Surname</label>
                <input #nameRef [(ngModel)]="name" name="name" type="text" class="form-control" id="userName" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input #emailRef [(ngModel)]="email" name="email" type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="d-flex">
                    <input #passwordRef [(ngModel)]="password" name="password" type="{{passType}}" class="form-control" id="password" />
                    <a (click)="passwordLockUnLock()" class="btn btn-light">
                        @if(passlock === false) {
                            <i class="bi bi-unlock2"></i>
                        }
                        @else {
                            <i class="bi bi-unlock"></i>
                        }
                    </a>
                </div>
            </div>
            <div class="mb-3">
                <label for="passwordAgain" class="form-label">Password Again</label>
                <input #passwordAgainRef [(ngModel)]="passwordAgain" name="passwordAgain" type="{{passType}}" class="form-control" id="passwordAgain" />
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a (click)="formReset()" class="btn btn-danger">Reset</a>
            </div>
            
            <p class="text-center mt-3">Daha önce kayıtlı mısınız?</p>
            <div class="d-flex justify-content-center">
                <a class="text-dark" [routerLink]="['/']" routerLinkActive="active">Login</a>
            </div>
            
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>
