
<div *ngIf="loading" class="text-center mt-5">
  <div class="spinner-border text-primary" role="status"></div>
</div>

<div *ngIf="!loading" class="container mt-4">
  <div class="row g-4 align-items-center">
    <div class="col-md-6">
      <img [src]="product.thumbnail" class="img-fluid rounded shadow" alt="Product image" />
    </div>

    <div class="col-md-6">
      <h2 class="fw-bold">{{ product.title }}</h2>

      <p class="text-muted mb-2">
        Kategori: {{ product.category }} <br />
        Marka: {{ product.brand }}
      </p>

      <div class="mb-2">
        <span class="text-muted text-decoration-line-through me-2" *ngIf="product.discountPercentage">
          {{ (product.price / (1 - product.discountPercentage / 100)) | currency:'USD' }}
        </span>
        <span class="fw-bold text-success fs-4">
          {{ product.price | currency:'USD' }}
        </span>
      </div>

      <p class="mt-3">{{ product.description }}</p>

      <button class="btn btn-warning rounded-pill mt-2 w-100">
        Sepete Ekle
      </button>
    </div>
  </div>

  
  <div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Yorumlar</h5>
    <div *ngIf="comments.length > 0; else noComments">
      <div *ngFor="let comment of comments" class="mb-3 border-bottom pb-2">
        <strong>{{ comment.user.username }}</strong>
        <p>{{ comment.body }}</p>
      </div>
    </div>
    <ng-template #noComments>
      <p>Bu ürün için yorum bulunmuyor.</p>
    </ng-template>
  </div>
</div>
</div>
