@if (product) {
<div class="row">
    <div class="col-sm-6">
        <h2>{{product.title}}</h2>
        <div class="d-flex">
            <h3><span class="badge text-bg-warning">{{product.price}}₺</span></h3>
            <h5 style="margin-left: 5px;"><span class="badge text-bg-dark"><del>{{globalPrice}}₺</del></span></h5>
        </div>
        @for (i of stars; track $index) {
            @if(i == 1) {
                <label class="text-danger bi bi-star-fill fs-4"></label>
            }
            @if(i == 0.5) {
                <label class="text-danger bi bi-star-half fs-4"></label>
            }
            @if(i == 0) {
                <label class="text-danger bi bi-star fs-4"></label>
            }
        }
    </div>
    <div class="col-sm-6"></div>
</div>
}