table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid;
  text-align: center;
}

tr:hover {
    background-color: blanchedalmond;
    
}

dt {
    font-weight: bold;
}

img {
    border: 2px solid;
}

img:hover {
    border-color: rgb(255, 255, 255);
}

a {
    color: black;
}

iframe {
    border: none;
}