<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Welcome Login </h2>
    <h3> <%= title %> </h3> 
    <h4> <%= cat %> </h4>

    <% if (condition) { %>
     
    <% } %>
</body>
</html>