@page
@model MVC.Pages.Account.AccessDeniedModel
@{
    ViewData["PageTitle"] = "Access Denied";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Access Denied</h2>
        <div class="alert alert-danger">
            You do not have permission to access this resource.
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>