/*
    açıklama satırını
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0px;
    font-family: "Roboto";
}

.container {
    margin-left: 4%;
    margin-right: 4%;
    border: 0.5px solid #dadada;
}

.headerBox {
    background-color: coral;
    height: 25px;
    width: 100%;
    position: sticky;
    top: 0;
}

.box {
    width: 90px;
    line-height: 90px;
    background-color: rgb(68, 180, 241);
    padding: 5px;
    text-align: center;
    float: left;
    opacity: 0.6;
    display: block;
}

.clearBoth {
    clear: both;
}

a {
    text-decoration: none;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    margin-right: 5px;
}
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
    /*text-decoration: underline;*/
    background-color: #dadada;
}

ul {
    background-color: aliceblue;
    width: 300px;
}

li {
    list-style:circle ;
    text-decoration: underline;
    background-color: rgb(22, 101, 192);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.contact {
    width: 200px;
    height: 300px;
    background-color: #dadada;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 1%;
    right: 4%;
}

.textBox {
    width: 200px;
    height: 100px;
    background-color: rgb(100, 172, 240);
    padding: 10px;
    overflow: scroll;
}

.disA {
    margin-top: 20px;
    margin-bottom: 20px;
}

.disBoxA {
    width: 100px;
    background-color: rgb(15, 163, 208);
    text-align: center;
    display: inline;
    padding: 5px;
}

.disBoxB {
    width: 100px;
    background-color: rgb(15, 163, 208);
    text-align: center;
    display: inline-block;
    padding: 5px;
}
.disBoxC {
    width: 100px;
    background-color: rgb(15, 163, 208);
    text-align: center;
    display: block;
    padding: 5px;
}

.mainUl {
    background-color: white;
    width: auto;
}

.subLi {
    display: inline;
}

.subLi a {
    background-color: #ffffff;
}

